In [1]:
!python --version

Python 3.8.10

In [3]:
import numpy

In [4]:
# Problem Statement:
#     House price prediction

In [5]:
#pip install scikit-learn==1.1.3

In [6]:
#pip uninstall scikit-learn

In [7]:
# Data Gathering

import numpy as np
import pandas as pd
from sklearn.datasets import load_boston


boston = load_boston()
boston_df = pd.DataFrame(boston.data, columns = boston.feature_names)
boston_df['PRICE'] = boston.target # what is this step
boston_df.head(2)

C:\Users\HP\anaconda3\envs\hpp\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np

        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.
  warnings.warn(msg, category=FutureWarning)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.9,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.9,9.14,21.6

In [8]:
#step3: EDA

In [9]:
boston_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  PRICE    506 non-null    float64
dtypes: float64(14)
memory usage: 55.5 KB

In [10]:
# conclusin : all data is integer or numerical format and string not present and null values not present

In [11]:
boston_df.isnull().sum() # or boston_df.isna().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
PRICE      0
dtype: int64

In [12]:
# step 4 : Feature Engineering

In [13]:
# step 5 : Feature selection : this dataset is clean so every feature is important

In [14]:
# step  6: model training : in this step we divide our features in two parts are input and target variable

In [15]:
x = boston_df.drop('PRICE',axis = 1)
y = boston_df['PRICE']

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [16]:
# split the data

In [17]:
x_train,x_test, y_train,y_test = train_test_split(x,y, test_size=0.25,random_state=5)
x_train.shape,x_test.shape, y_train.shape,y_test.shape

((379, 13), (127, 13), (379,), (127,))

In [18]:
# model training

lin_model = LinearRegression()
lin_model.fit(x_train,y_train)

LinearRegression()

In [19]:
##step 7 : model evalution(model accuracy)

# testing data

y_pred = lin_model.predict(x_test)

mse = mean_squared_error(y_test,y_pred)  # mse(mean squre error) y_test means actual data and y_pred means predicted data
print(f"MSE = {mse}")
print(f"RMSE = {np.sqrt(mse)}")

mae = mean_absolute_error(y_test,y_pred)
print(f"MAE = {mae}")

r2 = r2_score(y_test,y_pred)
print(f"R-squre value = {r2}")

MSE = 24.274608311687743
RMSE = 4.9269268628312055
MAE = 3.290018352688538
R-squre value = 0.7059096071098063

In [20]:
# training data

y_pred_train = lin_model.predict(x_train)

print("Training data metrx")

mse = mean_squared_error(y_train,y_pred_train) 
print(f"MSE = {mse}")
print(f"RMSE = {np.sqrt(mse)}")

mae = mean_absolute_error(y_train,y_pred_train)
print(f"MAE = {mae}")

r2 = r2_score(y_train,y_pred_train)
print(f"R-squre value = {r2}")

Training data metrx
MSE = 21.514174022233707
RMSE = 4.638337420049743
MAE = 3.2829237937646543
R-squre value = 0.7468034208269783

In [21]:
# So in TRAINING TIME our model accuracy is 74% and TESTING time our model accuracy is 70%

In [22]:
# USER TEST fuction:


x_train.head(1).T

               218
CRIM       0.11069
ZN         0.00000
INDUS     13.89000
CHAS       1.00000
NOX        0.55000
RM         5.95100
AGE       93.80000
DIS        2.88930
RAD        5.00000
TAX      276.00000
PTRATIO   16.40000
B        396.90000
LSTAT     17.92000

In [24]:
# following value change i mean following is input and find the output ?

CRIM=0.2
ZN=0.1
INDUS=14.89000
CHAS=2.00000
NOX=1.55000
RM=7.95100
AGE=95.80000
DIS=3.88930
RAD=3.00000
TAX=275.00000
PTRATIO=17.40000
B=395.90000
LSTAT=15.92000

# so ha input dewun find PRICE ?
#colum_list
array = np.array([CRIM ,ZN ,INDUS ,CHAS ,NOX ,RM ,AGE ,DIS ,RAD ,TAX ,PTRATIO ,B ,LSTAT ,],ndmin = 2)

print(array)
print(array.ndim) 
# array is 1 dimension but we need 2 dimension so use ndmin = 2 in above

[[2.0000e-01 1.0000e-01 1.4890e+01 2.0000e+00 1.5500e+00 7.9510e+00
  9.5800e+01 3.8893e+00 3.0000e+00 2.7500e+02 1.7400e+01 3.9590e+02
  1.5920e+01]]
2

In [25]:
PRICE = lin_model.predict(array)
print("PRICE :",PRICE)

PRICE : [18.22698258]

C:\Users\HP\anaconda3\envs\hpp\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [26]:
CRIM=0.21
ZN=0.01
INDUS=15.89000
CHAS=2.00000
NOX=0.75000
RM=7.95100
AGE=85.80000
DIS=2.58930
RAD=3.00000
TAX=250.00000
PTRATIO=12.40000
B=350.90000
LSTAT=15.92000

# so ha input dewun find PRICE ?

array = np.array([CRIM ,ZN ,INDUS ,CHAS ,NOX ,RM ,AGE ,DIS ,RAD ,TAX ,PTRATIO ,B ,LSTAT ,],ndmin = 2)

print(array)
print(array.ndim) 
# array is 1 dimension but we need 2 dimension so use ndmin = 2 in above

[[2.1000e-01 1.0000e-02 1.5890e+01 2.0000e+00 7.5000e-01 7.9510e+00
  8.5800e+01 2.5893e+00 3.0000e+00 2.5000e+02 1.2400e+01 3.5090e+02
  1.5920e+01]]
2

In [27]:
PRICE = lin_model.predict(array)
print("PRICE :",PRICE)

PRICE : [36.20864376]

C:\Users\HP\anaconda3\envs\hpp\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [31]:
# API sathi data ha pickel file madhe lagato so create pickel file

import pickle

with open("model.pickle","wb") as file:
    pickle.dump(lin_model,file)

In [38]:
# we resqured json file so create :

import json

columns_list = list(x.columns)
d1 = {'columns':columns_list}

with open("features.json",'w') as file:
    json.dump(d1, file)

In [26]:
# Step 8 : API building and API testing

In [ ]:
# anaconda chya CMD madhen appan jupyter notebook madhe aahe so baher yenyasathi [ctr+c]
# so ya madhe appan anaconda chya CMD madhun VS code open kela [code .] hi commond use karun

In [ ]:
# In vs code:
# 1. create flask application : create app.py file